

.sideBarr{
    position: absolute;
   height:fit-content;

}


.conteinerFilters{
    display: flex;
    justify-content: center;
    margin: 2rem;
}
.divsConteiners{
    margin: 0rem 0.5rem;
}
.divsConteiners label{
    font-family: "Open Sans";
    font-weight: 450;
    margin-right: 0.5rem;
    color: white;
}

.divsConteiners select{
    font-family: "Open Sans";
    font-weight: 300;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid  rgba(255, 255, 255, 0.589);
    color:white;
    outline: none;
    transition: all 0.3s ease;
}
.divsConteiners select option{
    background-color: #b6b2b6bd;
}
.divsConteiners:hover select {
    border-bottom: 3px solid #DAB9C4;
   
   
}


.divsConteiners select option{
    border: none;
}
.button{
    font-family: "Open Sans";
    font-weight: 300;
    border: 1px solid rgba(255, 255, 255, 0.945);
    border-radius: 8px;
    background: transparent;
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
}
.button:hover{
    border-color: #41567c;
    color: #41567c;
   
}
