

.background{
    width: 100%;
  height: 100vh;
  background-image: url('../../img/landingPage.gif'); 
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}
.div{
    position: absolute;
    top:20rem;
    left:3rem;
}
.btn{
    text-decoration: none;
    justify-self: center;
    background-color: transparent;
    padding: 0.1rem 2rem;
    
    border-radius: 8px;
    cursor: pointer;
    border-color: #08337B;
    transition: all 0.3s ease;
    color:#08337B ;
    position: relative;
    display: inline-block;
    outline: none;
    overflow: hidden;
    
  }

  .btn:hover {
    border-radius: 8px;
    padding-right: 24px;
    padding-left:8px;
    background-color: #DAB9C4;
  }
  .btn:hover:after {
    opacity: 1;
    right: 10px;
  }
  .btn:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 20px;
    line-height: 40px;
    top: 0;
    right: -20px;
    transition: 0.4s;
  }
  .link{
    text-decoration: none;
    color: #08337B;}

